<%= stylesheet_link_tag 'new', :media => "all" %>
<h1>マイナーアーティスト</h1>
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>

  <div class="field">
    <%= f.label :band_name %>
    <%= f.text_field :band_name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :explanation  %>
    <%= f.text_area :explanation, :size => "30x2" %>
  </div>



  <div class="field">
    <%= f.label :song_name %>
    <%= f.text_field :song_name, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :SNS_link %>
    <%= f.text_field :SNS_link, :size => 30 %>
  </div>
  
<h3>ジャンル選択</h3>
<div class='form-group'>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>

<h3>活動拠点</h3>
<div class='form-group'>
  <%= f.collection_check_boxes(:tag_location_ids, TagLocation.all, :id, :place) do |tag| %>
      <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
              <%= tag.check_box class: 'form-check-input' %>
              <%= tag.text %>
          <% end %>
      </div>
  <% end %>
</div>


  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>
