<h1>投稿リスト</h1>
<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @tweet.band_name %></p>
  <%= image_tag @tweet.image_url, size: "250x200" if @tweet.image? %>
  <p>代表曲：<%= @tweet.song_name %></p>
  <%= @tweet.explanation %>
  <li><%= @tweet.SNS_link %></li>
  
  
  <% if user_signed_in? %>
      <% if current_user.already_liked?(@tweet) %>
        <%= button_to tweet_like_path(@tweet), method: :delete do %>
          <i class="fas fa-heart"></i><%= @tweet.likes.count %>
        <% end %>
      <% else %>
        <%= button_to tweet_likes_path(@tweet), method: :post do %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
        <% end %>
      <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= @tweet.likes.count %>
    <% end %>
  
</div>

<h4>ジャンル</h4>
<% @tweet.tags.each do |tag| %>
  <span><%= tag.name %></span>
<% end %>

<h4>活動場所</h4>
<% @tweet.tag_locations.each do |tag_location| %>
  <span><%= tag_location.place %></span>
<% end %>

<h4>いいねしたユーザー</h4>
<% @tweet.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>


<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
<%= link_to "Tweet一覧に戻る", tweets_path %>