<%= stylesheet_link_tag 'title', :media => "all" %>









<div class="scroll-infinity">
<div class="scroll-infinity__wrap">
  <ul class="scroll-infinity__list scroll-infinity__list--left">
    <li class="scroll-infinity__item"><%= image_tag 'pk.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'kobore.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'wod.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag '36.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'hakubi.jpg', class:"logo-image" %></li>
  </ul>
  <ul class="scroll-infinity__list scroll-infinity__list--left">
    <li class="scroll-infinity__item"><%= image_tag 'pk.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'kobore.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'wod.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag '36.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'hakubi.jpg', class:"logo-image" %></li>
  </ul>
</div>
</div>

<div class="scroll-infinity">
<div class="scroll-infinity__wrap">
  <ul class="scroll-infinity__list scroll-infinity__list--right">
    <li class="scroll-infinity__item"><%= image_tag '短編.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'the.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'push.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'なき.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'roman.jpg', class:"logo-image" %></li>

  </ul>
  <ul class="scroll-infinity__list scroll-infinity__list--right">
    <li class="scroll-infinity__item"><%= image_tag '短編.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'the.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'push.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'なき.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'roman.jpg', class:"logo-image" %></li>
  </ul>
</div>
</div>



<h3>NEW MUSIC</h3>
<h2>NEW ADVENTURE</h2>
<div class="box"></div>

<%= link_to "アーティストを見つける", tweets_path %>
<%= link_to "アーティストを投稿する", new_tweet_path %>

