<%= stylesheet_link_tag 'title', :media => "all" %>









<div class="scroll-infinity">
<div class="scroll-infinity__wrap">
  <ul class="scroll-infinity__list scroll-infinity__list--left">
    <li class="scroll-infinity__item"><%= image_tag 'pk.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'kobore.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'wod.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag '36.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'hakubi.jpg', class:"logo-image" %></li>
  </ul>
  <ul class="scroll-infinity__list scroll-infinity__list--left">
    <li class="scroll-infinity__item"><%= image_tag 'pk.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'kobore.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'wod.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag '36.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'hakubi.jpg', class:"logo-image" %></li>
  </ul>
</div>
</div>

<div class="right">
<div class="scroll-infinity">
<div class="scroll-infinity__wrap">
  <ul class="scroll-infinity__list scroll-infinity__list--right">
    <li class="scroll-infinity__item"><%= image_tag '短編.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'the.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'push.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'なき.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'roman.jpg', class:"logo-image" %></li>

  </ul>
  <ul class="scroll-infinity__list scroll-infinity__list--right">
    <li class="scroll-infinity__item"><%= image_tag '短編.jpg', class:"logo-image" %></li>                        
    <li class="scroll-infinity__item"><%= image_tag 'the.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'push.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'なき.jpg', class:"logo-image" %></li>
    <li class="scroll-infinity__item"><%= image_tag 'roman.jpg', class:"logo-image" %></li>
  </ul>
</div>
</div>
</div>



<h3>NEW MUSIC</h3>
<h2>NEW ADVENTURE</h2>


<div class="about">ABOUT</div>

<div class="shokai">－サイト紹介－</div>

<div class="explain"><p>説明文あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああaaaa<p></div>

<div class="live"><%= image_tag '3markets.jpg', class:"logo-image" %></div>

<div class="find"><p><%= link_to "アーティストを見つける", tweets_path %></p></div>
<div class="post"><p><%= link_to "アーティストを投稿する", new_tweet_path %></p></div>

